.dropbtn {
    color: white;
    align-items: left;
    font-size: 16px;
    border-radius:50%;
    width:40px;
    height:40px;
    top: 0px;
    right: 0px;
}

  .dropbtn img {
    top: 0px;
    right: 0px;
    width:10px;
    height:20px
  }
  
  .dropdown {
    position: absolute;
    margin-top:10px;
    padding-right:40px;
    top: 0px;
    right: 0px;

}
.dropdown img:hover{
opacity: 0.5;    
}
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    align-self: center;
    min-width: 160px;
    float :right;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    padding-right:20px;
   padding-left:20px;
   text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color:rgb(153, 138, 138);
    color:white
  }
  
  .dropdown:hover .dropdown-content {display: block;}
.btn1{
    position:absolute;
    right:400px;
    top:70px;
    padding-top:7px;
    padding-bottom:2px;
    border: 1px solid  rgb(10, 192, 228);
    color:white;
    width:68px;
    height:30px;
    background-color: dodgerblue;
}
.lab1{
    color:gray
}
.inp1{
    border:1px solid grey;
    border-radius: 25px;
    outline: none;
    width:200px;
    color:rgb(215, 185, 185);
    padding:4px;
    padding-left:10px;
    position:absolute;
    right:120px;
    top:73px;
    background-color: black;
 }

 .components{
  display:inline
}

.tab {
  margin:px;
  background: black;
  overflow: hidden;
 
}

/* Style the buttons inside the tab */
.tab button {
  background: black;
  color: aliceblue;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
  color:black
}

.tab button:active {
  background-color:white;
  color:black
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}
